<aside class="sidebar">
    <div class="inner-sidebar" #innerSidebar>

        <div class="flex justify-between">
            <a routerLink="/home" class="flex items-center mb-3">
                <span class="w-50 flex justify-center">
                    <img src="/assets/logo.png" class="logo-img" />
                </span>
            </a>
        </div>

        <ul class="mt-5">
            <li>
                <a class="sidebar-link" routerLink="/home" routerLinkActive="active-route">
                    <i class="fas fa-th-large"></i>
                    Dashboard
                </a>
            </li>
            <li class="mt-4">
                <a class="sidebar-link" routerLink="/history" routerLinkActive="active-route">
                    <i class="fas fa-history"></i>
                    Quiz History
                </a>
            </li>
            <li class="mt-4">
                <a (click)="logout()" class="sidebar-link">
                    <i class="fas fa-sign-out-alt logout-icon"></i>
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</aside>