.sidebar {
  width: fit-content;
  height: 100vh;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.208);

  .inner-sidebar {
    margin-right: 70px;

    .close-btn {
      display: none;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.sidebar-link {
  text-decoration: none;
  font-weight: bold;
  color: #696F79;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  white-space: nowrap;
  transition: all 0.2s ease;

  i {
    color: #4461F2;
    margin-right: 12px; 
    font-size: 18px;
    transition: color 0.2s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: #4461F2;
    color: #FFF;

    i {
      color: #FFF;
    }
  }
}

.active-route {
  background-color: #4461F2;
  color: #FFF !important;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 15px;

  i {
    color: #FFF !important;
  }
}

.logo-img {
  width: 150px;
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .close-btn {
    display: block;
  }

  .inner-sidebar {
    background-color: white;
    margin-right: 0;
    padding: 16px;
    margin-top: 62px;
  }

  .show-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
