.sidebar {
  width: fit-content;
  .inner-sidebar {
    margin-right:70px;
    .close-btn {
      display: none;
    }
  }
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  .sidebar-link {
    text-decoration: none;
    font-weight: bold;
    color:#696F79;
    padding:10px;
    display: inline-block;
    border-radius: 10px;
    white-space: nowrap;
    i {
      color: #4461F2;
      margin-right:25px; 
      font-size:20px;
      padding: 5px;
    }
    .logout-icon {
      color: #4461F2;
      margin-right: 35px;
      border-radius: 3px;
    }
  }
}
.logo-img {
  width: 150px;
  height: 30px;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .close-btn {
    display: block;
  }
  .inner-sidebar {
    background-color: white;
    margin-right: 0;
    padding:16px;
    margin-top: 62px;
  }
  .show-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
