
  <div class="quiz-container">

    <!-- Question 1 -->
    <div class="question">
      <div class="question-title">Exercitationem pariatur quae facere</div>
      <label class="option correct">
        <input type="checkbox" checked disabled>
        voluptates eos aut
      </label>
      <label class="option incorrect">
        <input type="checkbox" checked disabled>
        voluptates eos aut
      </label>
      <label class="option">
        <input type="checkbox" disabled>
        voluptates eos aut
      </label>
      <label class="option correct">
        <input type="checkbox" disabled>
        voluptates eos aut
      </label>
    </div>

    <!-- Question 2 -->
    <div class="question">
      <div class="question-title">Exercitationem pariatur quae facere</div>
      <label class="option incorrect">
        <input type="radio" name="q2" checked disabled>
        voluptates eos aut
      </label>
      <label class="option">
        <input type="radio" name="q2" disabled>
        voluptates eos aut
      </label>
      <label class="option correct">
        <input type="radio" name="q2" disabled>
        voluptates eos aut
      </label>
    </div>

    <button class="close-btn">Close</button>
  </div>

