@if (!summary) {
  <div class="score-card">
  <h3>Your score</h3>

  <div class="score-wrapper">
    <canvas #chartCanvas></canvas>
  </div>

  <!-- Correct & Incorrect -->
  <div class="results">
    <p class="correct-label">
      Correct :
      <span>{{ numQ - numberOfWrongAnswers }}/{{ numQ }}</span>
    </p>
    <p class="wrong-label">
      Incorrect :
      <span>{{ numberOfWrongAnswers }}/{{ numQ }}</span>
    </p>
  </div>

  <!-- Footer buttons -->
  <div class="flex justify-between mt-6">
    <button (click)="CloseModal()" 
            class="px-10 py-1 rounded-3xl border border-main text-main hover:bg-main hover:text-white">
      Close
    </button>

    <!-- Show Summary only if there are wrong answers -->
    <button *ngIf="numberOfWrongAnswers > 0" (click)="boolSummary()"
            class="px-10 py-1 rounded-3xl border border-main text-main hover:bg-main hover:text-white">
      Show Summary
    </button>
  </div>

</div>

}
@else {
  <app-exam-summary></app-exam-summary>
}